{{ form_start(productForm) }}
    {{ form_row(productForm.name) }}
    {{ form_row(productForm.description) }}
    {{ form_row(productForm.quantity) }}
    {{ form_row(productForm.price) }}
    {{ form_row(productForm.categories) }}
    <button class="btn btn-primary" type="submit">Valider</button>
{{ form_end(productForm) }}